body{
    padding-top: 210px;
}
.container{
    width: 1220px;
    margin: 0 auto;
}
.poppins-700{
    font-family: 'Poppins';
    font-weight: 700;
    
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* header styles */
.header-fixed{
    position: fixed;
    width: 100%;
    height: 140px;
    top: 0px;
    z-index: 5;
    background-color: white;
    display: flex;
    align-items: center;
}
.container-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.list-container{
    display: flex;
    width: 825px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #37393F;
}
.p,.header-list{
    display: flex; 
    align-items: center;
}

.button{
    width: 184px;
    height: 65px;
    background-color: #6B77E5;
    color: white;
    border: none;
    font-family: 'Cabin';
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    
}
/* section styles */
.text-div{
    width: 283px;
    height: 86px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
}
.more{
    width: 348px;
}
.text-1{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #37393F;
}
.text-2{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #37393F;
}
/* box styles */
.box-container{
    display: flex;
    justify-content: space-between;
    margin-top: 41px;
    margin-bottom: 35px;
}
.boxes{
    background-color: #F4F4F4;
    width: 386px;
    padding: 58px 43px;
}
.box-1-content{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.box-1-txt-1{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
    color: #37393F;
    margin-bottom: 16px;
}
.box-1-txt-2{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 146.19%;
    color: #7D7D7D;
    margin-bottom: 37px;
}
.box-1-txt-3{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #6B77E5;
    margin-bottom: 10px;
}
.icon-box{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: #40DDB6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.active{
    background-color: #6B77E5;
}
/* banner */
.banner{
    width: 100%;
}
.box-relative{
    position: relative;
    margin-bottom: 155px;
}
.box-absolute{
    width: 511px;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
}
.box-txt-1{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #37393F;
    margin-bottom: 16px;
}
.box-txt-2{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #37393F;
    margin-bottom: 21px;
}
.box-txt-3{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 146.19%;
    color: #37393F;
    margin-bottom: 47px;
}

.container-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 31px;
}
.inner-box{
    background-color: rgb(255, 255, 255);
    width: 341px;
    height: 114px;
    position: absolute;
    bottom: 22px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    flex-direction: column;
}
.relative-box{
    position: relative;
    
}
.box-name{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    color: #37393F;
}
.box-occupation{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135.19%;
    color: #7D7D7D;
}

/* styles for section on about page */
.banner-image-1{
    content: '';
    background-image: url(../photo/banner-image.png);
    background-color: red;
    max-width: 1400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 458px;
    margin-left: 290px;
    margin-bottom: 123px;
}
.black-banner{
    width: 600px;
    height: 100%;
    background-size:contain;
    background-color: #37393FE8;
    opacity: 0.91;
    backdrop-filter: blur(9.5px);
}
.text h4{
    color: white;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 18px;
}
.text h1{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 60px;
    line-height: 110%;
    color: white;
}
.text{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 420px;
}
/* end of banner styles */
/* container */
/* box 1 */
.box-1{
    width: 478px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    height: 520px
}
.options-box{
    height: 50px;
    width: 408px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}
.options-box:hover{
    background-color: #6B77E5;
    color: white;
}
.options-box:hover .options{
    color: white;
}
.box-1-1{
    background-color: #F4F4F4;
    padding: 56px 35px 56px 35px;
}
h3{
    color: #37393F;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 25px;
}
.margin{
    margin-top: 24px;
}
.options{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    line-height: 127%;
    color: #37393F;
}
/* end box 1 */
.line{
    height: 1px;
    width: 390px;
    background-color: #37393F;
}
.button-2-1{
    background-color: #6B77E5;
    color: white;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    width: 250px;
    height: 65px;
    gap: 15px;
}
.button-2-1::before{
    content: url(../photo/icon5.svg);
    
}
.button-2-2{
    background-color: #6B77E5;
    color: white;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    width: 250px;
    height: 65px;
    gap: 15px;
}

.button-2-2::before{
    content: url(../photo/icon6.svg);
}
.box-1-2{
    display: flex;
    flex-direction: column;
    background-color:#F4F4F4;
    width: 478px;
    height: fit-content;
    gap: 22px;
    padding: 50px 44px;
}
section p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 146.19%;
    color: #7D7D7D;
}
/*end box 2 */
.box-1-3{
    background-image: url(../photo/image-5.png);
    background-repeat: no-repeat;
}
h2{
    color: #37393F;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
}
.span{
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
}
h6{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}
.black-p{
    color: #37393F;
    text-align: center;
}
.inside-box{
    width: 377px;
    padding: 96px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;
} /*container 2*/
.box-2{
    display: flex;
    flex-direction: column;
    width: 692px;
    gap: 40px;
}
.container-2-header{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 30px;
    line-height: 127%;
    color: #37393F;
}
.container-2{
    display: flex;
    gap: 50px;
    

}
.p-color{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 127%;
    color: #6B77E5;
}
.image-container-2{
    display: flex;
    gap: 20px;
}
.image-container-2-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.our{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 25px;
    line-height: 127%;
    color:#37393F;
}
.color-text{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    color: #40DDB6;
}
.bottom-text{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    color: #37393F;
}
.bottom-text::after{
    content: url(../photo/vector-bottom.svg);
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    
}
.box-bottom-content{
    display: flex;
    justify-content: space-between;
    padding: 25px 30px;
    border: solid 1px #E3E3E3;
    position: relative;
}
.box-bottom{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-container{
    height: 703px;
    width: 100%;
    background-color: #37393F;
    margin-top: 150px;
    padding: 86px 0;
}
.footer-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-item{
    display: flex;
    align-items: center;
    gap: 10px;
}
.contact{
    display: flex;
    gap: 60px;
}
.frame{
    border-radius: 50%;
    background-color: #4C4D52;
    width: 68px;
    height: 68px;
}
.footer-h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: white;
    line-height: 146.19%;
}
.footer-p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: white;
    line-height: 146.19%;
}
.line-2{
    height: 1px;
    width: 100%;
    background-color: #6C6D72;
    margin-top: 52px;
}
.green{
    color: #40DDB6;
}
.footer-section-1{
    display: flex;
    flex-direction: column;
}
.footer-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}
.ul-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 220.19%;
    color: white;
}
.footer-box{
    width: 479px;
    height: 235px;
    background-color: #474950;
    padding: 42px 36px;
}
.mail-box{
    width: 407px;
    height: 65px;
    display: flex;
    margin-top: 23px;
}
.mail-white{
    background-color: white;
    width: 264px;
    height: 65px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #37393F;
    border: none;
    padding-left: 30px;
}

.mail-blue{
    width: 143px;
    height: 65px;
    background-color: #6B77E5;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: white;
    border: none;
}
.mail-blue:hover{
    cursor: pointer;
}
.line-height{
    line-height: 220.19%;
}
.purple{
    color: purple;
}
.footer-p-class{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

}
.socials{
    display: flex;
    gap: 10px;
}
.footer-box-7{
    display: flex;
    align-items: center;
    gap: 10px;
}